**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.idea
**/*.user
**/*.suo
**/node_modules
**/.DS_Store
**/Thumbs.db
**/appsettings.Development.json
**/.env
**/backups
**/*.db
**/*.db-shm
**/*.db-wal
**/TestResults
